body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: white;
}

@font-face {
    font-family: 'Quicksand';
    src: url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#content h1 {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    filter: blur(2px);
    margin: 0;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

#menu {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

#menu input[type="number"] {
    margin-bottom: 5px;
}

#helpBox {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

#stats {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
