body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff; /* Białe tło */
}

@font-face {
    font-family: 'Quicksand';
    src: url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
}

#content {
    /* Możesz dodać tutaj styl dla głównej zawartości */
}

#menuContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

#menu {
    padding: 10px;
    overflow-y: auto;
}

#menuToggle {
    width: 30px;
    height: 30px;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 50%;
    position: absolute;
    left: -15px; /* Połówka szerokości przycisku */
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    z-index: 1000; /* Upewnij się, że jest nad menu */
}

#menuContainer.collapsed {
    transform: translateX(-100%);
}

#menuContainer.expanded {
    transform: translateX(0);
}

#menuToggle:active {
    cursor: grabbing;
}

#stats {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.ball {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    filter: blur(0px); /* Default value */
}
