body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff; /* Białe tło */
}

#content {
    /* Możesz dodać tutaj styl dla głównej zawartości */
}

#menuContainer {
    position: fixed; /* Menu będzie zawsze widoczne na ekranie */
    top: 10px;
    left: 10px;
    width: 300px; /* Szerokość rozwiniętego menu */
    height: 95%; /* Wysokość rozwiniętego menu */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px; /* Zaokrąglenie krawędzi */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease; /* Animacja dla rozwijania/zwijania */
    z-index: 1000;
    overflow: hidden;
}

#menuFrame {
    width: 100%;
    height: 100%;
    border: none;
    display: block; /* Menu jest zawsze widoczne */
}

#menuContainer.collapsed {
    transform: translateX(calc(100% + 20px)); /* Zwijanie menu poza ekran */
}

#menuToggle {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001; /* Upewnij się, że jest nad menu */
}

#menuToggle:active {
    cursor: grabbing;
}

#stats {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
