/* style.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

/* Content */
#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#content h1 {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    filter: blur(2px);
    margin: 0;
}

/* Ball */
.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

/* Trail */
.trail {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1; /* Smuga powinna być za piłką */
    opacity: 0.5; /* Przezroczystość smugi */
    transition: width 0.1s, height 0.1s, background-color 0.1s;
}

/* Menu */
#menu {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

body.dark-mode #menu {
    background-color: rgba(33, 33, 33, 0.8);
}

/* Menu Inputs */
#menu input[type="number"], 
#menu input[type="color"], 
#menu input[type="file"], 
#menu select {
    margin-bottom: 5px;
}

/* Help Box */
#helpBox {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

/* Stats */
#stats {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.3s;
}

body.dark-mode #stats {
    color: rgba(255, 255, 255, 0.7);
}
